<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes</title>
        <link rel="icon" href="/img/blood.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>Potential complications of diabetes</p>

        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/img/heart.jpg" alt="heart" style="width:300px;height:200px">
                </div>
                <div class="flip-box-back">
                    <h2>Heart</h2>
                    <p>Text for heart</p>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/img/brain.jpg" alt="brain" style="width:300px;height:200px">
                </div>
                <div class="flip-box-back">
                    <h2>Brain</h2>
                    <p>Text for brain</p>
                </div>
            </div>
        </div>

       <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/img/eye.jpg" alt="eye" style="width:300px;height:200px">
                </div>
                <div class="flip-box-back">
                    <h2>Eye</h2>
                    <p>Text for eye</p>
                </div>
            </div>
        </div>


       <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/img/kidney.jpg" alt="kidney" style="width:300px;height:200px">
                </div>
                <div class="flip-box-back">
                    <h2>Kidney</h2>
                    <p>Text for kidney</p>
                </div>
            </div>
        </div>

        {{>footer}}
    </body>
</html>