<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes</title>
        <link rel="icon" href="/img/blood.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>
                Diabetes is a complex, chronic condition that requires consistent medical care and treatment
                to help control blood sugar levels. If left untreated, diabetes can lead to devastating complications. 
            </p>
            <p>
                Choose an image to find out more:
            </p>

            <div id="boxes">

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/img/heart.jpg" alt="heart" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h4>Heart</h4>
                        <p> 
                            Diabetes dramatically increases the risk of heart disease,
                            high blood pressure and narrowing of blood vessels
                        </p>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/img/brain.jpg" alt="brain" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h4>Brain</h4>
                        <p>From depretion to cerebral small vessel diseases that is a greater risk of stroke.
                            since it starves brain cells of oxygen.
                        </p>
                    </div>
                </div>
            </div>

        <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/img/eye.jpg" alt="eye" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h4>Eye</h4>
                        <p>Increases the risk of serious eye diseases, such as cataracts 
                            and glaucoma, and may damage the blood vessels of the retina, potentially leading to blindness.</p>
                    </div>
                </div>
            </div>


        <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src="/img/kidney.jpg" alt="kidney" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h4>Kidney</h4>
                        <p>It can lead to kidney failure or irreversible end-stage kidney disease,
                             which may require dialysis or a kidney transplant.</p>
                    </div>
                </div>
            </div>
       

        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/img/feet.jpg" alt="feet" style="width:300px;height:200px">
                </div>
                <div class="flip-box-back">
                    <h4>Feet</h4>
                    <p>
                         Many people with diabetes have peripheral arterial disease and or
                         have nerve disease. Together, these problems make it easy to get 
                         ulcers and infections that may lead to amputation.  
                    </p>
                </div>
            </div>
        </div>


        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/img/cut.jpg" alt="cut" style="width:300px;height:200px">
                    </div>
                    <div class="flip-box-back">
                        <h4>Skin</h4>
                        <p>
                            Diabetes may leave you more susceptible to skin problems most of it do to the fact that cuts take longer to heal, including bacterial and fungal infections.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        </div>

        {{>footer}}
    </body>
</html>