<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes</title>
        <link rel="icon" href="/img/blood.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is
               your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose 
               from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t 
               use insulin well. Glucose then stays in your blood and doesn’t reach your cells.</p>
            <br>
            <h5 id='1' onclick="responsive(this)">Type 1 diabetes</h5>
            <span id="t1"></span>
            <h5 id='2' onclick="responsive(this)">Type 2 diabetes</h5>
            <span id="t2"></span>
            <h5 id='3' onclick="responsive(this)">Gestional diabetes</h5>
            <span id="t3"></span>
            <h5 id='4' onclick="responsive(this)">Prediabetes</h5>
            <span id="t4"></span>
            <br>
            <br>
                <p>
                    About 422 million people worldwide have diabetes, particularly in low-and middle-income countries, and 1.6 million deaths are directly 
                    attributed to diabetes each year.
                </p>
        </div>
        {{>footer}}
        <script src="/js/appindex.js"></script>
    </body>
</html>