<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes</title>
        <link rel="icon" href="/img/blood.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>Ways to pervent diabetes or the complicatonsis</p>
        </div>
        {{>footer}}
    </body>
</html>