<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes</title>
        <link rel="icon" href="/img/blood.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <h3>Ways to pervent diabetes type 2 or the complications of this chronic disease</h3>
            <p>Type 1 diabetes cannot currently be prevented. Effective approaches are available to prevent type 2
                 diabetes and to prevent the complications and premature death that can result from all types of diabetes. </p>
            <div id="boxes">
                <div>
                    <img src="/img/nutriton.jpg" alt="nutriton" style="width:300px;height:200px">
                </div>
                <div>
                    <p>
                        Contrary to popular perception, there's no specific diabetes diet.
                        Your doctor can help you put together a meal plan that fits
                        your health goals, food preferences and lifestyle. He or she can also 
                        teach you how to monitor your carbohydrate intake and let you know about how
                        many carbohydrates you need to eat with your meals and snacks to keep your blood sugar levels more stable.
                    </p>
                </div>
                <div>
                    <p>
                        Aim for at least 30 to 60 minutes of moderate (or 15 to 30 minutes of vigorous) aerobic exercise most days of the week. 
                        Remember that physical activity lowers blood sugar. Check your blood sugar level before any activity. You might need to 
                        eat a snack before exercising to help prevent low blood sugar if you take diabetes medications that lower your blood sugar.
                    </p>
                </div>
                <div>
                    <img src="/img/exercise.jpg" alt="exercise" style="width: 300px;height:200px">
                </div>
                <div>
                    <img src="/img/doctor.jpg" alt="doctor" style="width:300px;height:200px">
                </div>
                <div>
                    <p>
                        Careful monitoring is the only way to make sure that your blood sugar level remains within your target range.
                        Make your regular doctors appointments folow their instructions and make sure your A1C (average sugar lever of 3 months) is 
                        where it suppost to be along with other daily test that your doctor might recomend. 
                    </p>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>