<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes</title>
        <link rel="icon" href="/img/blood.ico">
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>This test will only give you an idea, it is better to consult your doctor</p>

            <form id="formid">
                <p>Please select your gender:</p>
                <input type="radio" id="male" name="gender" value="male" required>
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>

                <br>  

                <p>Please select your age range:</p>
                <input type="radio" id="40" name="age" value="40" required>
                <label for="40">Less than 40 years</label><br>
                <input type="radio" id="59" name="age" value="59">
                <label for="59">40 up to 59</label><br>  
                <input type="radio" id="60" name="age" value="60">
                <label for="60">Over 60</label><br>

                <br>

                <p>Are you physically active?</p>
                <input type="radio" id="yes" name="activity" value="yes" required>
                <label for="yes">Yes</label><br>
                <input type="radio" id="no" name="activity" value="no">
                <label for="no">No</label><br>  

                <br>

                <p>Please provide the following in metric:</p>
                <input type="text" id="height" placeholder="height exp. 1.52" required>
                <input type="text" id="weight" placeholder="weight"  required>

                <br>
                <br>

                <p>Have any of your blood relatives have ever been diagnosed with diabetes?</p>
                <input type="radio" id="yes" name="family" value="yes" onclick="hasFam(this)" required>
                <label for="yes">Yes</label><br>
                <input type="radio" id="no" name="family" value="no" onclick="hasFam(this)">
                <label for="no">No</label><br>
                <span id="yesFam"></span>  

                <br>

                <p>Have you ever been told by a doctor that you have high blood pressure?</p>
                <select name="pressure" id="pressure" required>
                    <option value="" disabled selected>Select your option</option>
                    <option value="140">Yes it was around 140/90</option>
                    <option value="170">Yes it was 170/100 or higher</option>
                    <option value="hyper">Yes I have been diagnosed with hypertension</option>
                    <option value="no"> No </option>
                </select>

                <br>
                <br>
                <br>
                <p>Select all the options that you experience regularly</p>

                <input type="checkbox" id="blurry" value="blurry" name="symptoms">
                <label for="blurry">Blurry vision</label><br>

                <input type="checkbox" id="tired" value="tired" name="symptoms">
                <label for="tired">Feeling very tired</label><br> 

                <input type="checkbox" id="hungry" value="hungry" name="symptoms">
                <label for="hungry">Always feeling hungry</label><br>

                <input type="checkbox" id="thirst" value="thirst" name="symptoms">
                <label for="thirst">Increased thirst</label><br>

                <input type="checkbox" id="urination" value="urination" name="symptoms">
                <label for="urination">Frequent urination</label><br>


                <br>
                <br>

                <button class="popup" id="delete">
                    Submit
                    <span class="popuptext" id="myPopup"></span>
                </button>

            </form>

        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>