<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes</title>
        <link rel="icon" href="/img/blood.ico">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>This test will only give you an idea, it is better to consult your doctor</p>
        <form>
            <input placeholder="test">
            <button>Submit</button>
        </form>
        <p id="test"></p>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>