<footer>
    <div id="boxes">
        
        <div>
        <p>{{ info }}</p><a href="https://www.who.int/health-topics/diabetes#tab=tab_1">World Health Organization</a>
        <a href="https://www.diabetes.org/">American Diabetes Association</a>
        </div>
        <div>
            <br>
            <br>
            <p>Created by: {{ name }}</p>
        </div>
    </div>
    
    
</footer>