<header>
    <h1>{{ title }}</h1>
    <h4>{{ subTitle }}</h4>
     <a href='/'>Home</a>
    <a href='/consequences'>Complications</a>
    <a href='/prevention'>Prevention</a>
    <a href='/test'>Test</a>
</header>